.heroPanel {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    top: -36px;
    width: 90%;
}

.quote {
    font-size: .9rem;
}

.highlightsContainer {
    margin-top: 11rem;
}

.warehouseIcon {
    height: 50px;
}

@media screen and (min-width: 600px) {
    .heroPanel {
        top: -40px;
    }
}