.hightlightsContainer {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .hightlightsContainer {
        width: 74.5%;
    }

    .filtersButton {
        width: 23.5%;
    }

    .tabsContentWrapper {
        height: calc(100% - 52.5px);
    }
}